.custom-img-zomatobrandlogo{
    width: 140px;
}
.custom-img-phones{
    width: 410px;
    margin-left: 94px;
  margin-top: 134px;
}


   
.custom-label{
    margin-left: 30px;
}
.custom-container-getheapp{
    margin-right: 94px;
    margin-top: 134px;
}
.custom-contaienr-emailinput{
    margin-top: 49px;
  margin-left: -14px;
}
.custom-linkbutton{
    background: tomato;
    margin-left: 20px;
    width: 150px;
  height: 48px;
    border-radius: 8px;

}
.custom-eamiliinput{
    width: 292px;
  height: 48px;
}
